body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../../assets/img/sfondoMenu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: rgba(0, 0, 0, 0.366);
    border-bottom: 3px solid white;
    height: auto;
}

#header h1 {
    color: white;
    text-align: center;
    font-size: 625%;
    margin-bottom: 0;
    margin-top: 0;
}

span {
    color: red;
}

.grigliaDownload {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

#logoApple {
    width: 25%;
}

#logoWindows {
    width: 28%;
}

.windowsBox {
    display: block;
    text-align: center;
    width: 100%;
    margin-right: 5%;
}

.appleBox {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: 5%;
}

.bottoniWindows button {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniWindows button:hover {
    width: 100%;
    background-color: rgb(117, 188, 117);
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniWindows button:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac {
    display: flex;
    justify-content: space-between;
}

.bottoniMac button {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac button:hover {
    width: 100%;
    background-color: rgb(117, 188, 117);
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac button:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
}

#download64 {
    margin-left: 5px;
}

#downloadJava64 {
    margin-left: 5px;
}

#downloadARM64 {
    margin-right: 5px;
}

#downloadJavaARM64 {
    margin-right: 5px;
}

#git {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#github {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

#github:hover {
    width: 100%;
    background-color: rgb(117, 188, 117);
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

#github:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
    margin: 0;
}

#git p{
    color: white;
    text-align: center;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.366);
    margin-top: auto;
    border-top: 3px solid white;
}

#testo {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
}